.cloud__three {
  position: absolute;
  left: -0%;
  top: 66.6%;
}
.cloud__two {
  position: absolute;
  left: 0px;
  top: 70.52%;
}
.cloud__one {
  position: absolute;
  left: -0%;
  top: 77.45%;
}

/* pinhole camera start */
.pinhole__setup {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 213px;
  top: -30px;

  opacity: 0.3;
}
.pinhole__camera {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 413px;
  top: 186px;

  background: #001b4e;
  border-radius: 50px;
  opacity: 15px;
}
.pinhole__cameraText {
  position: absolute;
  width: 166px;
  height: 32px;
  left: 450px;
  top: 197px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.pinhole__cameraCirlce {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 605px;
  top: 191px;

  background: #ffffff;
  border-radius: 50%;
}
.pinhole__cameraLock {
  position: absolute;
  left: 619px;
  top: 201px;
}
/* pinhole camera end */

/* step 1 */
.square {
  position: absolute;
  left: 43.87%;
  top: 20.27%;
  width: 100px;
  height: 100px;
  background: white;
  transform: rotate(49.75deg);
  border: 8px solid;
  border-right-color: rgb(250, 235, 235);
  border-bottom-color: rgb(250, 235, 235);

  /* border-radius: 100%; */
}
.trees {
  position: absolute;
  width: 134.8px;
  height: 102.4px;
  left: 1030px;
  top: 175px;
}
.fourWhite__steps {
  position: absolute;
  left: 40.6%;
  top: 15.67%;
}

.fourWhite__stepsShadow {
  position: absolute;
  left: 40.6%;
  top: 19%;
  mix-blend-mode: multiply;
}

/* step1 end */
/* pinhole camera 2 */
.pinhole__setup2 {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 510px;
  top: 200px;

  opacity: 0.3;
}
.pinhole__camera2 {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 413px;
  top: 186px;

  background: #001b4e;
  border-radius: 50px;
  opacity: 15px;
}
.pinhole__cameraText2 {
  position: absolute;
  width: 166px;
  height: 32px;
  left: 490px;
  top: 197px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.pinhole__cameraCirlce2 {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 605px;
  top: 191px;

  background: #ffffff;
  border-radius: 50%;
}
.pinhole__cameraLock2 {
  position: absolute;
  left: 619px;
  top: 201px;
}
/* pinhole camera 2 end */
/* step2 */
.square2 {
  position: absolute;
  left: 30.9%;
  top: 20.9%;
}
.trees2 {
  position: absolute;
  width: 134.8px;
  height: 102.4px;
  left: 32.18%;
  top: 18.9%;
}
.fourWhite__steps2 {
  position: absolute;
  left: 40.72%;
  top: 28.87%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.fourWhite__stepsShadow2 {
  position: absolute;
  left: 40.9%;
  top: 32.4%;
  mix-blend-mode: multiply;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.small__cloud1 {
  position: absolute;
  left: 58.55%;
  top: 22.2%;
}

/* step 2 end */
/* pinhole camera 3 */
.pinhole__setup3 {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 180px;
  top: 400px;

  opacity: 0.3;
}
.pinhole__camera3 {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 413px;
  top: 186px;

  background: #001b4e;
  border-radius: 50px;
  opacity: 15px;
}
.pinhole__cameraText3 {
  position: absolute;
  width: 166px;
  height: 32px;
  left: 490px;
  top: 197px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.pinhole__cameraCirlce3 {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 605px;
  top: 191px;

  background: #ffffff;
  border-radius: 50%;
}
.pinhole__cameraLock3 {
  position: absolute;
  left: 619px;
  top: 201px;
}
/* pinhole camera 3 end */
.small__cloud2 {
  position: absolute;
  left: 18.59%;
  top: 33.12%;
}
/* step 3 */
.square3 {
  position: absolute;
  left: 42.7%;
  top: 33%;
  z-index: 1;
}
.trees3 {
  position: absolute;
  width: 134.8px;
  height: 102.4px;
  left: 50.78%;
  top: 35.8%;
  z-index: 1;
}
.fourWhite__steps3 {
  position: absolute;
  left: 39.6%;
  top: 40.5%;
}

.fourWhite__stepsShadow3 {
  position: absolute;
  left: 39.6%;
  top: 43.9%;
  mix-blend-mode: multiply;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.small__cloud3 {
  position: absolute;
  left: 84.59%;
  top: 38.92%;
}

/* step 3 end */

/* step 4 */
.pinhole__setup4 {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 500px;
  top: 650px;
  opacity: 0.3;
}
.pinhole__camera4 {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 413px;
  top: 186px;
  background: #001b4e;
  border-radius: 50px;
  opacity: 15px;
}
.pinhole__cameraText4 {
  position: absolute;
  width: 180px;
  height: 32px;
  left: 430px;
  top: 197px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.pinhole__cameraCirlce4 {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 605px;
  top: 191px;

  background: #ffffff;
  border-radius: 50%;
}
.pinhole__cameraLock4 {
  position: absolute;
  left: 619px;
  top: 201px;
}
/* pinhole camera 3 end */
.square4 {
  position: absolute;
  left: 30.7%;
  top: 46.6%;
  z-index: 1;
}
.trees4 {
  position: absolute;
  left: 34.5%;
  top: 46%;
  z-index: 1;
}
.Greenline {
  position: absolute;
  left: 33%;
  top: 50.8%;
  z-index: 1;
}

.fourWhite__steps4 {
  position: absolute;
  left: 40.6%;
  top: 54.9%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.fourWhite__stepsShadow4 {
  position: absolute;
  left: 40.6%;
  top: 58.1%;
  mix-blend-mode: multiply;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* step 4 end */

/* step 4 */
.pinhole__setup5 {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 740px;
  top: 850px;
}
.pinhole__camera5 {
  position: absolute;
  width: 240px;
  height: 52px;
  left: 413px;
  top: 186px;
  background: #001b4e;
  border-radius: 50px;
  opacity: 15px;
}
.pinhole__cameraText5 {
  position: absolute;
  width: 180px;
  height: 32px;
  left: 449px;
  top: 195px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.pinhole__cameraCirlce5 {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 605px;
  top: 191px;

  background: #ffffff;
  border-radius: 50%;
}
.pinhole__cameraPlay5 {
  position: absolute;
  left: 620px;
  top: 205px;
}
.pinhole__yellowLine {
  position: absolute;
  width: 134px;
  height: 3px;
  left: 450px;
  top: 225px;
}
/* pinhole camera 3 end */
.square5 {
  position: absolute;
  left: 42.4%;
  top: 58.9%;
  z-index: 1;
}
.manLight {
  position: absolute;
  width: 93.9px;
  height: 217.85px;
  left: 938.98px;
  top: 890px;
  z-index: 1;
}
/* step 5 end */
