.gradee__selectText {
  font-family: Proxima Nova !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 49px !important;
  line-height: 117.3% !important;
  /* or 61px */

  color: #ffffff !important;
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
  justify-content: center !important;
}
@media screen and (max-width: 650px) {
  .gradee__selectText {
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 650px) {
  .gradee__selectText {
    font-size: 25px !important;
  }
}

.gradee__smallCircleSelected {
  cursor: pointer;
  background: linear-gradient(
    253.58deg,
    #ffc000 1.55%,
    #ff8a00 95.8%
  ) !important;
  width: 127.69px !important;
  height: 127.69px !important;
  border: 4px solid #ffffff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
@media screen and (max-width: 650px) {
  .gradee__smallCircleSelected {
    width: 73px !important;
    height: 73px !important;
    border: 3px solid #ffffff !important;
  }
}
@media only screen and (max-width: 280px) {
  .gradee__smallCircleSelected {
    width: 63px !important;
    height: 63px !important;
    border: 3px solid #ffffff !important;
  }
}
