.chap__rectangle {
  z-index: 3;
  position: absolute;
  width: 32px;
  height: 48px;
  left: 468px;
  top: 229px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c4c4c4;
  border-radius: 15px 0px 0px 15px;
}

.chap__grayFrame {
  background: #c4c4c4;
  border-radius: 15px 0px 0px 15px;
}
.chap__verticleLine {
  position: absolute;
  width: 870px;
  height: 0px;
  left: 65px;
  top: 663px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: rotate(90deg);
}
.chap__triangle {
  position: absolute;
  left: 477px;
  right: 0.01%;
  top: 238px;
  bottom: 0.01%;
}
.chap__smalltriangle {
  position: absolute;
  left: 490px;
  right: 0.01%;
  top: 250px;
  bottom: 0.01%;
  transform: rotate(180deg);
}
.chap__intro {
  position: absolute;
  width: 438px;
  height: 78px;
  left: 93px;
  top: 212px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  /* or 42px */

  display: flex;
  align-items: center;

  color: #ffc000;
}
.chap__horizontalLine {
  position: absolute;
  width: 251px;
  height: 1px;
  left: 90px;
  top: 275px;

  background: #c4c4c4;
  opacity: 0.28;
  border-radius: 20px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.chap__zigzagLine {
  position: absolute;
  width: 30px;
  height: 240px;
  left: 90px;
  top: 273px;
}

.chap__zigzagCircle1 {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 107px;
  top: 336px;
}

.chap__zigzagCircle2 {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 107px;
  top: 389px;
}
.chap__zigzagCircle3 {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 107px;
  top: 442px;
}
.chap__zigzagCircle4 {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 107px;
  top: 495px;
}
.chap__topic1 {
  position: absolute;
  width: 438px;
  height: 248px;
  left: 155px;
  top: 337px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  color: #ffffff;
}

.chap__topic2 {
  position: absolute;
  width: 438px;
  height: 248px;
  left: 155px;
  top: 385px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  color: #ffffff;
}

.chap__topic3 {
  position: absolute;
  width: 438px;
  height: 248px;
  left: 155px;
  top: 440px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  color: #ffffff;
}
.chap__topic4 {
  position: absolute;
  width: 438px;
  height: 248px;
  left: 155px;
  top: 490px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  color: #ffffff;
}
